<!DOCTYPE html>
<html>
<head>
    <title>Авторизация</title>
</head>
<body>
    <h2>Введите номер телефона</h2>
    <form method="post" action="{% url 'authorization' %}">
        {% csrf_token %}
        <input type="text" name="phone_number" placeholder="Номер телефона" required>
        <button type="submit">Получить код</button>

        {% if auth_code %}
    <h2>Код авторизации:</h2>
    <p>{{ auth_code }}</p>
        {% endif %}
    </form>

    {% if auth_code %}
    <h2>Введите код авторизации</h2>
    <form method="post" action="{% url 'verify' %}">
        {% csrf_token %}
        <input type="text" name="phone_number" value="{{ phone_number }}" readonly>
        <input type="text" name="auth_code" placeholder="Код авторизации" required>
        <button type="submit">Войти</button>
    </form>
    {% endif %}
</body>
</html>
