<!DOCTYPE html>
<html>
<head>
    <title>Профиль пользователя</title>
</head>
<body>
    <h2>Профиль пользователя</h2>
    <p><strong>Имя пользователя:</strong> {{ user.username }}</p>
    <p><strong>Номер телефона:</strong> {{ user.phone_number }}</p>
    <p><strong>Инвайт-код:</strong> {{ user.invite_code }}</p>
    <p><strong>Реферрал код:</strong> {{ user.referral_code }}</p>
    <h3>Приглашенные пользователи:</h3>
    <ul>
        {% for referred_user in user.referred_users.all %}
        <li>{{ referred_user.phone_number }}</li>
        {% endfor %}
    </ul>
    <h3>Профиль другого пользователя:</h3>
    <form method="post" action="{% url 'assign_referral_code' %}">
        {% csrf_token %}
        <input type="text" name="referral_code" placeholder="Введите инвайт-код другого пользователя">
        <button type="submit">Добавить реферрал код</button>
    </form>
</body>
</html>
